@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html, body{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }

    h1,h2,h3,h4,h5,h6,.sub-heading{
        font-family: 'Libre Baskerville', serif;
    }
}

@layer utilities{
    .sticky-nav{
        @apply relative  lg:sticky top-0 lg:top-5 max-w-7xl rounded-lg border border-gray-100
    }
    
}